<%- include('partials/header'); -%>
 
<h1>Compose</h1>

<form class="" action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="postTitle" class="form-control" placeholder="Post Title" required>
    </div>
    <!-- <br> -->
    <div class="form-group">
      <label>Post</label>
      <br>
      <textarea name="postBody" cols="65" rows="5" placeholder="Write here" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>
