<%- include('partials/header'); -%>
 
<h1><%= title %> </h1>
<br>
<p> <%= content %> </p>

<a href="/compose">
    <button type="submit" class="btn btn-primary">Add More</button>
</a>

<%- include('partials/footer'); -%>
